<!DOCTYPE html>
<html lang="de" xmlns:th="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title th:text="${book.id == null ? 'Buch anlegen' : 'Buch bearbeiten'}"></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<!-- Formular um ein Buch neu anzulegen oder zu bearbeiten -->
<div class="container">
    <h1 th:text="${book.id == null ? 'Neues Buch hinzufügen' : 'Buch bearbeiten'}">Neues Buch</h1>
    <!-- Die Daten werden an den Controller geschickt, wenn man speichert -->
    <form th:action="@{/book/add}" th:object="${book}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="form-group">
            <label for="name">Titel</label>
            <input id="name" type="text" th:field="*{name}" class="form-control" placeholder="Titel" required>
        </div>
        <div class="form-group">
            <label for="author">Autor</label>
            <input id="author" type="text" th:field="*{author}" class="form-control" placeholder="Autor" required>
        </div>
        <div class="form-group">
            <label for="genre">Genre</label>
            <!-- Dropdown Menü um eine Kategorie auszuwählen -->
            <select id="genre" th:field="*{genre}" class="form-control" required>
                <option value="">Wähle ein Genre...</option>
                <option th:each="g : ${genres}" th:value="${g.id}" th:text="${g.name}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="releaseDate">Erscheinungsdatum</label>
            <input id="releaseDate" type="date" th:field="*{releaseDate}" class="form-control" required>
        </div>
        <button type="submit" class="btn btn-primary">Speichern</button>
        <a href="/book/list" class="btn btn-default">Abbrechen</a>
    </form>
</div>
</body>
</html>